<div class="page-title">
  <h2>Starships</h2>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Model</th>
      <th>Manufacturer</th>
      <th class="text-center">Passengers</th>
      <th class="text-center">Pilots</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let starship of starships$ | async; trackBy: starshipTrackFn" class="starship">
      <td><a routerLink="/starship/{{starship.id}}">{{starship.name}}</a></td>
      <td>{{starship.model}}</td>
      <td>{{starship.manufacturer}}</td>
      <td class="text-center">{{starship.passengers}}</td>
      <td class="text-center">{{starship.pilots.length}}</td>
    </tr>
  </tbody>
</table>
