<p>pilot-detail works!</p>

<ul *ngIf="pilot">
  <li class="name">name: {{pilot.name}}</li>
  <li>birthYear: {{pilot.birth_year}}</li>
  <li>eyeColor: {{pilot.eye_color}}</li>
  <li>films: {{pilot.films.length}}</li>
  <li>gender: {{pilot.gender}}</li>
  <li>hairColor: {{pilot.hair_color}}</li>
  <li>height: {{pilot.height}}</li>
  <li>homeworld: {{pilot.homeworld}}</li>
  <li>mass: {{pilot.mass}}</li>
  <li>name: {{pilot.name}}</li>
  <li>skinColor: {{pilot.skin_color}}</li>
  <li>created: {{pilot.created}}</li>
  <li>edited: {{pilot.edited}}</li>
  <li>species: {{pilot.species}}</li>
  <li>starships: {{pilot.starships.length}}</li>
  <li>url: {{pilot.url}}</li>
  <li>vehicles: {{pilot.vehicles.length}}</li>
</ul>

