<div *ngIf="pilot" class="header page-title">
  <h2>{{pilot.name}}</h2>
</div>

<div *ngIf="pilot" class="detail-content">
  <div class="detail-content-line">
    <div class="subtitle">Name:</div>
    <div class="description name">{{pilot.name}}</div>
  </div>
  <div class="detail-content-line">
    <div class="subtitle">Birth Year:</div>
    <div class="description">{{pilot.birth_year}}</div>
  </div>
  <div class="detail-content-line">
    <div class="subtitle">Eye Color:</div>
    <div class="description">{{pilot.eye_color}}</div>
  </div>
  <div class="detail-content-line">
    <div class="subtitle">Films:</div>
    <div class="description">{{pilot.films.length}}</div>
  </div>
  <div class="detail-content-line">
    <div class="subtitle">Gender:</div>
    <div class="description">{{pilot.gender}}</div>
  </div>
  <div class="detail-content-line">
    <div class="subtitle">Hair Color:</div>
    <div class="description">{{pilot.hair_color}}</div>
  </div>
  <div class="detail-content-line">
    <div class="subtitle">Height:</div>
    <div class="description">{{pilot.height}}</div>
  </div>
  <div class="detail-content-line">
    <div class="subtitle">Home World:</div>
    <div class="description">{{pilot.homeworld}}</div>
  </div>
  <div class="detail-content-line">
    <div class="subtitle">Mass:</div>
    <div class="description">{{pilot.mass}}</div>
  </div>
  <div class="detail-content-line">
    <div class="subtitle">Skin Color:</div>
    <div class="description">{{pilot.skin_color}}</div>
  </div>
  <div class="detail-content-line">
    <div class="subtitle">Created:</div>
    <div class="description">{{pilot.created | date}}</div>
  </div>
  <div class="detail-content-line">
    <div class="subtitle">Edited:</div>
    <div class="description">{{pilot.edited | date}}</div>
  </div>
  <div class="detail-content-line">
    <div class="subtitle">Species:</div>
    <div class="description">{{pilot.species.length}}</div>
  </div>
  <div class="detail-content-line">
    <div class="subtitle">Starships:</div>
    <div class="description">{{pilot.starships.length}}</div>
  </div>
  <div class="detail-content-line">
    <div class="subtitle">Url:</div>
    <div class="description">{{pilot.url}}</div>
  </div>
  <div class="detail-content-line">
    <div class="subtitle">Vehicles:</div>
    <div class="description">{{pilot.vehicles.length}}</div>
  </div>
</div>

